<div class="row">
  <div class="col-sm-12">
    <img src="../assets/layout/images/403forbiddenerror.jpg" class="img-fluid img-notauth"/>
  </div>
</div>
<div class="row margin-top-sm">
  <div class="col-sm-12 margin-top-sm">
    <p class="text-center notauth-text">You are not authorized to view the requested page. You can click on your back button or the Dashboard menu to go back to the home page.
    </p>
  </div>
</div>
