<p class="divHeader">
    <i class="fa fa-bar-chartfa fa-table PaddingRight5" aria-hidden="true"></i>
    DashBoard
</p>
<!-- <div class="spinner-center" *ngIf="DisplayBoards">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div> -->
<div class="spinner-center" *ngIf="DisplayBoards">
    <p>
        Please wait while the data is loading ...
        <span class="fa fa-spinner fa-spin fa-2x"></span>
    </p>
</div>
<div class="ui-g dashboard" *ngIf="!DisplayBoards">
    <div class="ui-g-12 ui-md-6 ui-lg-3 " style="height:140px">
        <div class="ui-g card overview-box overview-box-1 DashboardCard1">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-paper.png" />
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">{{ MindtreemindsCount }}</span>
                <span class="overview-box-name">Total Minds</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 " style="height:140px">
        <div class="ui-g card overview-box2 overview-box-2 DashboardCard2">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-mail.png" />
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">{{ UnBilledMindsCount }}</span>
                <span class="overview-box-name">Unbilled Minds</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 " style="height:140px">
        <div class="ui-g card overview-box3 overview-box-3 DashboardCard3">
            <div class="ui-g-4 overview-box-icon ">
                <img src="assets/layout/images/icon-location.png" />
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">{{ DeployableCount }}</span>
                <span class="overview-box-name">Deployable Minds</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3" style="height:140px">
        <div class="ui-g card overview-box4 overview-box-4  DashboardCard4">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-orders.png" />
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">{{ BilledMindsCount }}</span>
                <span class="overview-box-name">Billed Minds</span>
            </div>
        </div>
    </div>

    <!-- <div class="ui-g-12 ui-md-6 ui-lg-4 task-list">
        <p-panel header="TASKS" [style]="{minHeight: '360px'}">
          
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid contact-form">
        <p-panel header="CONTACT US" [style]="{minHeight: '360px'}">
           
        </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-4 contacts">
        <p-panel header="CONTACTS" [style]="{minHeight: '360px'}">
            
        </p-panel>
    </div> -->

    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card ">
            <p class="headerStyle">Availability of Minds onshore/offshore</p>
            <div class="spinner-center loaderStyle" *ngIf="DisplayPieChartOnOffShore">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <p-chart type="pie" [data]="pieChartDataCompetency"></p-chart>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card  ">
            <p class="headerStyle">Male and female minds ratio</p>
            <div class="spinner-center loaderStyle" *ngIf="DisplayPieChartGender">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <p-chart type="pie" [data]="pieChartMaleFemale"></p-chart>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card ">
            <p class="headerStyle">Engagement type</p>
            <div class="spinner-center loaderStyle" *ngIf="DisplayPieChartEngagement">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <p-chart type="pie" [data]="pieChartEngagementType"></p-chart>
        </div>
    </div>
    <!-- <div class="ui-g-6 ui-md-6 ui-lg-12">
         <div class="ui-g card ">
              <p-chart type="bar" [data]="data"></p-chart> 
          </div> -->
</div>
