<p class="divHeader">
    <i class="fa fa-user-plus PaddingRight5" aria-hidden="true"></i> Add Admin
</p>
<div class="row mSpacer5"></div>
<div class="mainDiv">
    <form [formGroup]="adminForm" (ngSubmit)="submit()" class="p-3 bg-faded">
        <div class="form-group ui-g">
            <div class="ui-lg-20">
                <label for="MID" class="col-sm-3 col-form-label labelColor"
                    ><strong>MID</strong></label
                >
            </div>
            <div class="ui-lg-6">
                <input
                    id="MID"
                    type="text"
                    class="form-control"
                    formControlName="MID"
                />
                <div
                    *ngIf="submitted && adminForm.controls.MID.errors"
                    class="error"
                >
               
                    <div *ngIf="adminForm.controls.MID.errors.required">
                        Your MID is required
                    </div>
                    <div *ngIf="adminForm.controls.MID.errors.pattern">
                        MID not valid. Please enter a valid MID
                    </div>
                    </div>
           
            </div>
        </div>
        <div class="form-group  ui-g">
            <div class="ui-lg-20">
                <label for="Role" class="col-sm-3 col-form-label labelColor"
                    ><strong>Role</strong></label
                >
            </div>
            <div class="ui-lg-6">
                <select
                    id="Role"
                    formControlName="Role"
                    name="Role"
                    class="ui-lg-6"
                >
                    <option *ngFor="let r of roles" [ngValue]="r">{{
                        r
                    }}</option>
                </select>
                <div
                    *ngIf="submitted && adminForm.controls.Role.errors"
                    class="error"
                >
                    <div *ngIf="adminForm.controls.Role.errors.required">
                        A role is required
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-lg-6">
            <button
                pButton
                type="submit"
                label="Save"
                class="ui-md-2 ui btn button-fetch"
            ></button>
            <button
                pButton
                type="button"
                class="ui-md-2 btn button-cancel"
                label="Cancel"
                (click)="cancel()"
            ></button>
        </div>
    </form>
</div>
<div>
    <div *ngIf="submitted" class="labelColor">
        <!-- <strong>MID:</strong>
    <span>{{ adminForm.controls.MID.value }}</span>
    
    <strong>Role:</strong>
    <span>{{ adminForm.controls.Role.value }}</span>
    </div> -->
    </div>

    <!-- Success message for addition of admin -->
    <p-dialog
        header="Confirmation"
        [(visible)]="msgDialog"
        [modal]="true"
        (onHide)="cancel()"
        [responsive]="true"
        [width]="700"
        [minY]="70"
        [baseZIndex]="10000"
    >
     <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
        >You have successfully added an admin!! </span>
        </div>   
        
    </p-dialog>

    <!-- Warning message for adding duplicate admin -->
    <p-dialog
        header="Error occured"
        [(visible)]="msgWarningDialog"
        [modal]="true"
        (onHide)="cancel()"
        [responsive]="true"
        [width]="700"
        [minY]="70"
        [baseZIndex]="10000"
    >
        <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
        >{{displayMessage}}</span>
        </div> 
    </p-dialog>
</div>
