strong {
    display: block;
}
span {
    margin-bottom: 20px;
    display: block;
}

.floatAdmin {
    float: left;
}
.mainDiv {
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.AdminHeader {
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px solid;
    color: #1a237e;
}
.labelColor {
    color: black;
}
.btnSubmit {
    margin: 2px;
    margin-left: 74px;
}
.btnCancel {
    margin: 2px;
}

.divHeader {
    font-size: 18px;
}

.PaddingRight5 {
    padding-right: 5px;
}

.error {
    color: red;
}
