<div class="row">
  <div class="col-sm-12">
    <img src="../assets/layout/images/SessionExpired.png" class="img-fluid img-notauth"/>
  </div>
</div>
<div class="row margin-top-sm">
  <div class="col-sm-12 margin-top-sm">
      <p class=" error">Your session is expired.</p> 
      <p class="text-center notauth-text">Please try to close the browser and try again.</p>
  </div>
</div>

