.PaddingRight5 {
    padding-right: 5px;
}

img {
    height: 100px;
    width: 100px;
}

.adminColor {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.divHeader {
    font-size: 18px;
    display: inline-block;
}
.PaddingRight5 {
    padding-right: 5px;
}
.tabmenu {
    float: right;
}
.block-admin {
    height: 230px;
    width: 180px;
    display: inline-block;
    margin: 10px;
    background: white;
    padding: 10px;
}
.delete-admin{
    margin-bottom: 0px;
    float: right;
    color: #E74C3C;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
}
.button-active-inactive{
    margin-top: -5px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    line-height: 14px;
}
.confirmation{
    color: blue;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
