<p class="divHeader">
    <i class="fa fa-user-circle-o PaddingRight5" aria-hidden="true"></i> Admin
</p>

<p-tabMenu [model]="items" class="tabmenu"></p-tabMenu>

<div class="spinner-center" *ngIf="isViewAdmin">
    <p>
        Please wait while the data is loaded ...
        <span class="fa fa-spinner fa-spin fa-2x"></span>
    </p>
</div>
<div *ngIf="users">
    <div class="block-admin" *ngFor="let user of users">
            <img src="{{ imgUrlHeader +'M'+ user.employeeID + imgUrlTail }}" class="mx-auto d-block" />
            <p class="adminColor">{{ user.employeeID }}</p>
            <p class="adminColor" pTooltip="{{ user.name }}" tooltipPosition="top">{{ user.name }}</p>
            <p class="adminColor">{{user.competency}}</p>
            <hr/>
            <i class="fa fa-trash delete-admin" (click)="showConfirmDialog(user)" ></i> 
           <!-- <button class="btn btn-success button-active-inactive">Active</button>-->
    </div>
</div>
<p-dialog
        header="Confirmation"
        [(visible)]="msgDialog"
        [modal]="true"
        [responsive]="true"
        [width]="700"
        [minY]="70"
        [baseZIndex]="10000"
    >
    <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
        >You have successfully deleted an admin!! </span>
        </div>        
    </p-dialog>

    <p-dialog 
header="Confirmation" 
[(visible)]="displayConfirm" 
[modal]="true" 
[responsive]="true" 
[style]="{width: '700px'}" 
[minY]="70" 
[maximizable]="false" 
[baseZIndex]="10000">
<div style="margin-top:20px;margin-bottom:20px">
<span style="font-size: 15px;margin:60px" class="text-modal"
>Are you sure you want to delete ? </span>
</div>
<p-footer>
<button  class="btn button-fetch  border-radius-xs" (click)="deleteadmin()" >Yes</button>
<button (click)="displayConfirm=false"  class="btn button-save  border-radius-xs">NO</button>
</p-footer>
</p-dialog>


