<footer class="margin-top-sm">
    <span class="footer-text">&copy; 2018 - Capacity Insights</span>
    <ul class="footer-block">
        <li>Imprint</li>
        <li>Legal Disclaimer</li>
        <li>Privacy Policy</li>
        <li>Cookies</li>
    </ul>
</footer>
