.padding-LR{
    padding-left: 10px;
    padding-right: 15px;
}
div.cardHeight{
    height: 300px !important;
}

.gridPadding{
    padding:2px;
    
}
.justify > ::ng-deep figure {
    justify-content: left !important;
}
.zeroPadding{
    padding: 0px;
    border: none;
}
.padding{
    padding-top:2px;
    padding-left: 2px;
}

.columnOne{
    display: flex;
    flex-flow: column;
    padding: 15px;
    height: 175px;  
    overflow: scroll;
    /* box-shadow: 0px 0px 4px; */
   
}

.noWrap{
    white-space: nowrap;
}
 .arrowIcon
{
    float: left;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    color: #00796b;
    padding: 5px;
}
.plusIcon
{
    float: right;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    color: #f57f17;
    padding: 5px;
} 

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
}
.btn{
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;    
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    line-height: 1;
    border-radius:2px;
    text-transform: capitalize;
    height: 30px;
}
.marginRight{
    margin-right: 20px;
}
.buttonPadding{
    padding-left: 10px;
  
}
.btn-primary{
    float:left;
    margin-bottom:3px !important;
}

.textHeading{
    border-left: 5px solid #d81b60;
    color: #e65100;
    height: 30px;
    font-size: 13px;
    margin-top: 2;
    border-radius: 2px;
    padding-top: 7px;
    font-weight: 500;
    background-color: #f5f5f5;
}
body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tfoot > tr > td {
    background-color: #d0d6e2;
    color: #2d353c;
    border: 1px solid #dbe1e6;
}
.Cardfooter
{
 border-top: 1px solid #eee;
}
label.mat-checkbox-layout
{
    white-space: normal;
}

::ng-deep body .ui-listbox .listbox-header {
    padding: 0px;
    border: 0 none;
    border-bottom: 1px solid #dce2e7;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::ng-deep .ui-listbox{
	padding: .25em;
    width: 100%;
}
.ui-multiselect .ui-multiselect-label-container {
    overflow: hidden;
    text-align: center;
    background-color: orangered;
}

th
{
    white-space: nowrap;
}





.divHeader {
    font-size: 18px;
    margin-bottom: 10px;
}

.PaddingRight5{
    padding-right:5px
}

::ng-deep.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    width: 0px;
}
::ng-deep.mat-select-arrow {
    color:transparent;
}
::ng-deep table td {
    font-size: 12px;
    font-weight: 300;
}
.width
{
    width:300px;
}


::ng-deep .splash-screen {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
}
.selectheader
{
   border-top:2px solid red;
}
mat-select
{
    float: right;
    margin-right: 15px;
    margin-top: 9px;
}
.TextAligncentre
{
    text-align: center;
}
.active
{
    height: 30px;
    border-radius: 2px;
    font-size: 13px;
    background-color:white ;
    color: #00695c;
} 
.activeg
{
    height: 30px;
    border-radius: 2px;
    font-size: 13px;
    background-color: white;
    color: #c2185b;
} 
.remove-preference{
    padding-left: 8px;
    font-size: 15px;
    cursor: pointer
}
.p-list-width{
    width: 168px;
}
.mat-expansion-panel-header-title {
    flex-direction: column;
}
.filter-icon{
    color: white;
    font-size: 30px;
    margin-top: -6px;
    padding-top: 2px;
}
.mat-expansion-panel-body {
    padding: 0 24px 0px !important;
}
.height-table{
    height: 55px;
}
.pannel-filter{
    background: white;
    padding: 10px 15px;
    margin-top: 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-left: 2px;
    margin-right: 2px;
    border-top: 5px solid #3F729B;
    padding-top: 15px;
}
::ng-deep.ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
    top: 55%;
    left: 60%;
}
::ng-deep label {
    display: inline-block;
     margin-bottom: 0; 
}
::ng-deep .filter-plist ul * {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px !important;
    max-width: 12em;
}