<div *ngIf="pageLoading; else page">
  <div class="splash-screen">
    <div class="splash-loader">
      <div class="splash-cube1"></div>
      <div class="splash-cube2"></div>
      <div class="splash-cube4"></div>
      <div class="splash-cube3"></div>
    </div>
  </div>
</div>
<ng-template #page>
  <p-dialog header="Confirmation" [(visible)]="msgdialog" [modal]="true" [responsive]="true" [width]="700"
    [minY]="70" [baseZIndex]="10000">
    <p-messages [value]="msgsuccess" *ngIf="show" [closable]="false"></p-messages>
  </p-dialog>
  <div class="row pannel-filter">
      <div class="p-grid p-justify-around">
          <div class="p-col"  *ngIf="filterapplied.ProfitCenter"> 
            <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="ProfitCenterNameS" [(ngModel)]="ProfitCenterNameArray"
            multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist">
            <p-header>
              <div class="textHeading heading">
                <p class="text-center">Profit Center <span *ngIf="loadProfitCenterCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                
              </div>
            </p-header>
            <p-footer>
              <div class="Cardfooter">
                <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllPC()"></i>
                <i *ngIf="!(ProfitCenterNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x"  pTooltip="View Selections"aria-hidden="true" (click)="showPC()"></i>
              </div>
            </p-footer>
          </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.DeliveryPlatform">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="DeliveryPartnerS" id="DeliveryPartnerS"
              [(ngModel)]="DeliveryPartnerArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Delivery Partner <span *ngIf="loadDeliveryPartnerCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"aria-hidden="true" (click)="showAllDP()"></i>
                  <i *ngIf="!(DeliveryPartnerArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showDeliveryP()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.DeliveryManager">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="DeliveryManagerS" [(ngModel)]="DeliveryManagerArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist">
              <p-header>
                <div class="textHeading">
                  <p class="text-center ">Delivery Manager <span *ngIf="loadDeliveryManagerCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllDM()"></i>
                  <i *ngIf="!(DeliveryManagerArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showDM()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col"  *ngIf="filterapplied.AccountGroup">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="AccountNameS" [(ngModel)]="AccountNameArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Account Names <span *ngIf="loadAccountNamesCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllAN()"></i>
                  <i *ngIf="!(AccountNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x"  pTooltip="View Selections" aria-hidden="true" (click)="showAccountN()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.ProjectName">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="ProjectNameS" [(ngModel)]="ProjectNameArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist" >
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Projects <span *ngIf="loadProjectsCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllPN()"></i>
                  <i *ngIf="!(ProjectNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections"aria-hidden="true" (click)="showProjectN()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.Practice">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="PracticeS" [(ngModel)]="PracticeArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Practices <span *ngIf="loadPracticesCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"  aria-hidden="true" (click)="showAllP()"></i>
                  <i *ngIf="!(PracticeArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showPractise()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.BillableStatus">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="BillableS" [(ngModel)]="BillableArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist" >
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Billable Status <span *ngIf="loadBillableStatusCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"   aria-hidden="true" (click)="showAllBS()"></i>
                  <i *ngIf="!(BillableArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showBillableS()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="p-col" *ngIf="filterapplied.Location">
              <p-listbox [listStyle]="{'max-height':'200px','height':'140px'}" [options]="LocationS" [(ngModel)]="LocationArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()" class="filter-plist" >
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Location <span *ngIf="loadLocationCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllL()"></i>
                  <i *ngIf="!(LocationArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showLocation()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
      </div>
  </div>

  <!-- <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <p class="panel-title">Select Filter</p>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <div *ngIf="filterapplied"> 
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.ProfitCenter">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="ProfitCenterNameS" [(ngModel)]="ProfitCenterNameArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading heading">
                  <p class="text-center">Profit Center <span *ngIf="loadProfitCenterCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                  
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllPC()"></i>
                  <i *ngIf="!(ProfitCenterNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x"  pTooltip="View Selections"aria-hidden="true" (click)="showPC()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.DeliveryPlatform">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="DeliveryPartnerS" id="DeliveryPartnerS"
              [(ngModel)]="DeliveryPartnerArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Delivery Partner <span *ngIf="loadDeliveryPartnerCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"aria-hidden="true" (click)="showAllDP()"></i>
                  <i *ngIf="!(DeliveryPartnerArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showDeliveryP()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.DeliveryManager">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="DeliveryManagerS" [(ngModel)]="DeliveryManagerArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center ">Delivery Manager <span *ngIf="loadDeliveryManagerCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllDM()"></i>
                  <i *ngIf="!(DeliveryManagerArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showDM()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.AccountGroup">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="AccountNameS" [(ngModel)]="AccountNameArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Account Names <span *ngIf="loadAccountNamesCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllAN()"></i>
                  <i *ngIf="!(AccountNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x"  pTooltip="View Selections" aria-hidden="true" (click)="showAccountN()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.ProjectName">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="ProjectNameS" [(ngModel)]="ProjectNameArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Projects <span *ngIf="loadProjectsCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllPN()"></i>
                  <i *ngIf="!(ProjectNameArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections"aria-hidden="true" (click)="showProjectN()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.Practice">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="PracticeS" [(ngModel)]="PracticeArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Practices <span *ngIf="loadPracticesCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"  aria-hidden="true" (click)="showAllP()"></i>
                  <i *ngIf="!(PracticeArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showPractise()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.BillableStatus">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="BillableS" [(ngModel)]="BillableArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Billable Status <span *ngIf="loadBillableStatusCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"   aria-hidden="true" (click)="showAllBS()"></i>
                  <i *ngIf="!(BillableArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showBillableS()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.Location">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="LocationS" [(ngModel)]="LocationArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Location <span *ngIf="loadLocationCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllL()"></i>
                  <i *ngIf="!(LocationArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showLocation()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.SRStatus">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="SRStatusS" [(ngModel)]="SRStatusArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">SR Status <span *ngIf="loadSRStatusCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More" aria-hidden="true" (click)="showAllSR()"></i>
                  <i *ngIf="!(SRStatusArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showSRS()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-2 p-list-width" *ngIf="filterapplied.EngagementType">
            <p-listbox [listStyle]="{'max-height':'200px','height':'150px'}" [options]="EngagementTypeS" [(ngModel)]="EngagementTypeArray"
              multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()">
              <p-header>
                <div class="textHeading">
                  <p class="text-center">Engagement Type <span *ngIf="loadEngagementTypeCard"  class="fa fa-spinner fa-2x fa-spin filter-loader"></span></p>
                </div>
              </p-header>
              <p-footer>
                <div class="Cardfooter">
                  <i class="fa fa-search-plus fa-1x plusIcon" pTooltip="View More"  aria-hidden="true" (click)="showAllET()"></i>
                  <i *ngIf="!(EngagementTypeArray.length==0)" class="fa fa-eye arrowIcon fa-1x" pTooltip="View Selections" aria-hidden="true" (click)="showET()"></i>
                </div>
              </p-footer>
            </p-listbox>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6 ui-lg-11">
        <button class="btn button-cancel" (click)="nextStep()">Cancel</button>
        <button class="btn button-save" (click)="showDialog()" [disabled]="isSavePrefOn">Save Filter</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion> -->
<div class="row">
  <div class="col-sm-12">
    <p-table #dt *ngIf="haveRows; else message" [columns]="columns" [value]="capacityData" [paginator]="true" [rows]="10"
    [totalRecords]="totalRecords" [loading]="loading" [responsive]="true">
    <ng-template pTemplate="caption">
      <div class="height-table">
        <span>
            <div class="btn-group margin-left margin-top-xs float-left margin-left-mobile">
                <p-multiSelect [options]="genderArray" [(ngModel)]="selectedGender" (onChange)="FetchFilteredCapacityData()"
                  defaultLabel="Gender" class="btn-gender"></p-multiSelect>
              </div>
          <!-- <div class="btn-group margin-top-xs float-left margin-left-neg"  role="group" aria-label="Basic example" (click)="onButtonGroupClick2($event)">
            <button id="btngender1" class="btn btn-gender" (click)="MaleFilter(dt,$event)">Male</button>
            <button id="btngender2" class="btn btn-gender margin-left-xs" (click)="FemaleFilter(dt,$event)">Female</button>
          </div> -->
          <div class="btn-group margin-left margin-top-xs float-left margin-left-mobile">
              <p-multiSelect [options]="onOffshoreArray" [(ngModel)]="selectedOnOffshore" (onChange)="FetchFilteredCapacityData()"
                defaultLabel="On/offshore" class="btn-onoffshore"></p-multiSelect>
            </div>
          <!-- <div class="btn-group  margin-left margin-top-xs float-left" role="group" aria-label="Basic example" (click)="onButtonGroupClick($event)">
            <button id="btnonoffshore1" type="button" class="btn  btn-onoffshore" (click)=" OnShoreFilter(dt,$event) ">Onshore</button>   <!--filter is a predefine pipe--> 
            <!-- <button id="btnonoffshore2" type="button" class="btn   btn-onoffshore margin-left-xs" (click)=" OffShoreFilter(dt, $event) ">Offshore</button>

          </div> -->
          <div class="btn-group margin-left margin-top-xs float-left margin-left-mobile">
              <p-multiSelect [options]="srStatusArray" [(ngModel)]="selectedSRStatus" (onChange)="FetchFilteredCapacityData()"
                defaultLabel="SR Status" class="button-reset"></p-multiSelect>
            </div>
            <div class="btn-group margin-left margin-top-xs float-left margin-left-mobile">
                <p-multiSelect [options]="engagementTypeArray" [(ngModel)]="selectedEngagementType" (onChange)="FetchFilteredCapacityData()"
                  defaultLabel="Engagement Type" class="button-engtype"></p-multiSelect>
              </div>
          <div class="btn-group margin-left margin-top-xs float-left margin-left-mobile">
            <p-multiSelect [options]="CompetencyArray" [(ngModel)]="selectedCompetencies" (onChange)="FetchFilteredCapacityData()"
              defaultLabel="Competency" class="button-compentency"></p-multiSelect>
          </div>
          <div class="btn-group margin-left margin-top-xs float-left">
            <button class="btn fa fa-repeat button-reset-table" pTooltip="Remove filters applied"  tooltipPosition="bottom" type="button"
              (click)="reset()" (click)="dt.reset()"></button>

          </div>
          <div class="btn-group margin-left margin-top-xs float-left">
              <button class="btn button-save" (click)="showDialog()" [disabled]="isSavePrefOn">Save Filter</button>
            </div>
          
          <div class="search-block float-left margin-left-mobile">
            <i class="fa fa-search seacrh-icon"></i>
            <input type="text" [(ngModel)]="SearchKey" pInputText size="50"  pTooltip="Press enter to refresh data" placeholder="Global Filter" (keyup.enter)="FetchResultFromDB(dt)"   (input)="dt.filterGlobal(this.SearchKey, 'contains')"
              class="search-text">
          </div>
        </span>
        <div class="display-flex">
          <span class="count-table float-right"><span class="count-bubble" pTooltip="Total records found"  tooltipPosition="bottom">{{dt.totalRecords}}</span></span>
        </div>
        <!-- <p-multiSelect class="" [options]="ColumnSelections" (onChange)="UpdateColumns()" [(ngModel)]="selectedColumns" defaultLabel="Select Columns to view" ></p-multiSelect> -->

        <mat-form-field>
          <mat-select  #mySelect placeholder="select columns to display" [formControl]="SelectedColumns"

            (selectionChange)="UpdateColumns()"  multiple  [compareWith]="compareFn">

            <div class="textHeading">
            <p class="TextAligncentre">Edit Columns</p>
            </div>
            <mat-option *ngFor="let col of ColumnSelections " [value]="col.value">{{col.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <i class="fa fa-cog fa-2x setting-table" (click)="ViewOptions()" aria-hidden="true" pTooltip="Select columns to display"  tooltipPosition="bottom"></i>

        <img src="../assets/layout/images/excel_logo.png" (click)="dt.exportCSV()" class="img-excel" pTooltip="Export table to excel"  tooltipPosition="bottom">
        <div class="display-flex float-right" *ngIf="isDefaultPref">
          <span class="count-table"><span class="count-bubblePref" pTooltip="Applied Preference"  tooltipPosition="bottom" >{{selPref}}  <i class="fa fa-close remove-preference" (click)="resetDefaultPref()"></i></span></span>
        </div>

      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" >
          {{col.header}}
         
        
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>

        <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
          <span pTooltip=" {{rowData[col.field]}}" tooltipPosition="top">{{rowData[col.field]}}</span>  
         
        </td>

     
      </tr>

    </ng-template>
     <div *ngIf="dt.totalRecords == 0" class="alert alert-info">
      <strong>Info!!</strong> No rows found
    </div>
  </p-table>
  
   <div *ngIf="SearchResult" class="alert alert-info">
      <strong>Info!!</strong> No rows found
    </div>
  </div>
</div>
  
  <ng-template #message>
    <div class="alert alert-info">
      <strong>Info!!</strong> No rows found
    </div>
  </ng-template>

  <!-- View Selected Filter buttons -->
  <p-dialog header="Delivery Partner" (onHide)="cancel()" [(visible)]="displayDP" width="700px" modal="modal" 
    responsive="true">
      
    <span *ngFor="let filter of DeliveryPartnerArray">    
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckDP($event)"></i></button>
    </span>
  <p *ngIf="(DeliveryPartnerArray.length==0)">No selection found</p>
  </p-dialog>
  <p-dialog header="Delivery Manager" (onHide)="cancel()" [(visible)]="displayDM" modal="modal"  responsive="true">
    <span *ngFor="let filter of DeliveryManagerArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckDM($event)"></i></button>
    </span>
   <p *ngIf="(DeliveryManagerArray.length==0)">No selection found</p> 
  </p-dialog>
  <p-dialog header="Profit Center" (onHide)="cancel()" [(visible)]="displayPC" modal="modal"  responsive="true">
    <span *ngFor="let filter of ProfitCenterNameArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckPC($event)"></i></button>
      </span>
 <p *ngIf="(ProfitCenterNameArray.length==0)">No selection found</p>  
 
  </p-dialog>
  <p-dialog header="Project Name" (onHide)="cancel()" [(visible)]="displayPN" modal="modal"  responsive="true">
    <span *ngFor="let filter of ProjectNameArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckPN($event)"></i></button>
    </span>
  <p *ngIf="(ProjectNameArray.length==0)">No selection found</p>
  </p-dialog>
  <p-dialog header="Account Name" (onHide)="cancel()" [(visible)]="displayAN" modal="modal"  responsive="true">
    <span *ngFor="let filter of AccountNameArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckAN($event)"></i></button>
    </span>
 <p *ngIf="(AccountNameArray.length==0)">No selection found</p>
  </p-dialog>
  <p-dialog header="Practise" (onHide)="cancel()" [(visible)]="displayP" modal="modal"  responsive="true">
    <span *ngFor="let filter of PracticeArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckP($event)"></i></button>
    </span>
  <p *ngIf="(PracticeArray.length==0)">No selection found</p>
  </p-dialog>
  <p-dialog header="Billable Status" (onHide)="cancel()" [(visible)]="displayBilable" modal="modal" 
    responsive="true">
    <span *ngFor="let filter of BillableArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckB($event)"></i></button>
   </span>
     <p *ngIf="(BillableArray.length==0)">No selection found</p>
  </p-dialog>
  <p-dialog header="Location" (onHide)="cancel()" [(visible)]="displayL" modal="modal"  responsive="true">
    <span *ngFor="let filter of LocationArray">
      <button class="btn button-select" id={{filter}}>{{filter}} <i class="fa fa-close" (click)="UncheckL($event)"></i></button>
    </span>
    <p *ngIf="(LocationArray.length==0)">No selection found</p>
  </p-dialog>



  <!-- View All Filter Option button -->
  <p-dialog header="Delivery partner" (onHide)="cancel()" [(visible)]="overlaybasicDeliveryP" modal="modal" 
    responsive="true">
   
    <p-listbox [options]="DeliveryPartnerS" [(ngModel)]="DeliveryPartnerArray" multiple="multiple" checkbox="checkbox"
      filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Delivery Manager" (onHide)="cancel()" [(visible)]="showAllDeliveryManager" modal="modal" 
    responsive="true">
    <p-listbox [options]="DeliveryManagerS" [(ngModel)]="DeliveryManagerArray" multiple="multiple" checkbox="checkbox"
      filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Account Name" (onHide)="cancel()" [(visible)]="showAllAccountName" modal="modal" 
    responsive="true" >
    <p-listbox [options]="AccountNameS" [(ngModel)]="AccountNameArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Profit Center" (onHide)="cancel()" [(visible)]="showAllProfitCenter" modal="modal"
    responsive="true" (onChange)="onChangeDP()">
    <p-listbox [options]="ProfitCenterNameS" [(ngModel)]="ProfitCenterNameArray" multiple="multiple" checkbox="checkbox"
      filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Project Names" (onHide)="cancel()" [(visible)]="showAllProjectName" modal="modal" 
    responsive="true" (onChange)="FetchFilteredCapacityData()">
    <p-listbox [options]="ProjectNameS" [(ngModel)]="ProjectNameArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Practice" (onHide)="cancel()" [(visible)]="showAllpractice" modal="modal"  responsive="true">
    <p-listbox [options]="PracticeS" [(ngModel)]="PracticeArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Billable Status" (onHide)="cancel()" [(visible)]="showAllBillable" modal="modal" 
    responsive="true">
    <p-listbox [options]="BillableS" [(ngModel)]="BillableArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>
  <p-dialog header="Location" (onHide)="cancel()" [(visible)]="showAllLocation" modal="modal"  responsive="true">
    <p-listbox [options]="LocationS" [(ngModel)]="LocationArray" multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="FetchFilteredCapacityData()"></p-listbox>
  </p-dialog>

  <!-- Modal to save preference as default -->


  <p-dialog header="Confirmation" [(visible)]="displaydialog" [modal]="true" [responsive]="true" 
     [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form [formGroup]="confirmationForm" (ngSubmit)="savePref()" class="p-3 bg-faded">
      <div class="form-group ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-12">
          <span class="text-modal">Preference Name</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-12">
          <input id="prefName" type="text" class="form-control" formControlName="prefName" (input)="onSearchChange($event.target.value)" />
          <div *ngIf="isEmpty" class="error">
            <div>A Preference name is required</div>
            </div>
        </div>
      </div>
      <div class="form-group ui-g ui-g-12 ui-md-6 ui-lg-11">
        <div>
          <span class="text-modal">Save this as your default preference?</span>
        </div>
        <p-checkbox name="group1" value="Yes" label=""  formControlName="def" class="prefrence-check"></p-checkbox>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-12">
        <button type="submit" pButton icon="pi pi-close"  label="Save and Apply" class="btn button-fetch float-right" [disabled]="isPrefName"></button>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialog()" label="Cancel" class="btn button-cancel float-right"></button>
      </div>
    </form>
  </p-dialog>

</ng-template>
<router-outlet></router-outlet>
