<p-sidebar
    [(visible)]="display"
    (onHide)="close()"
    position="right"
    class="filter"
>
    <form [formGroup]="filterForm">
        <mat-toolbar class="filterPannelHeader">
            <span>Filters</span>
            <span class="buton-filter">
                <button (click)="selectAllFilter()" class="btn button-fetch">
                    Select All
                </button>
                <!--select all Filter-->
                <button (click)="resetAllFilter()" class="btn button-reset">
                    Reset</button
                ><!--reset all Filter-->
            </span>
        </mat-toolbar>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Profit Center</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="ProfitCenter"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Delivery Partner</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="DeliveryPlatform"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Delivery Manager</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="DeliveryManager"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Account Group</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="AccountGroup"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <!-- <mat-card class="example-card Card1">
        <p class="display-inline-block">Competency</p>
        <div class="display-inline-block pull-right">
            <mat-slide-toggle class="toggle-filter" formControlName="Competency"></mat-slide-toggle>
        </div>
      </mat-card>
  -->

        <!-- <mat-card class="example-card Card1">
        <p class="display-inline-block">Gender</p>
        <div class="display-inline-block pull-right">
            <mat-slide-toggle class="toggle-filter" formControlName="Gender"></mat-slide-toggle>
        </div>
      </mat-card> -->
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Project Name</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="ProjectName"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Practice</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="Practice"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <mat-card class="example-card Card1">
            <p class="display-inline-block">Billable Status</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="BillableStatus"
                ></mat-slide-toggle>
            </div>
        </mat-card>

        <mat-card class="example-card Card1">
            <p class="display-inline-block">Location</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="Location"
                ></mat-slide-toggle>
            </div>
        </mat-card>
        <!-- <mat-card class="example-card Card1">
        <p class="display-inline-block">On Off Shore</p>
        <div class="display-inline-block pull-right">
            <mat-slide-toggle class="toggle-filter" formControlName="OnOffShore"></mat-slide-toggle>
        </div>
      </mat-card> -->

        <!-- <mat-card class="example-card Card1">
            <p class="display-inline-block">SR Status</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="SRStatus"
                ></mat-slide-toggle>
            </div>
        </mat-card>

        <mat-card class="example-card Card1">
            <p class="display-inline-block">Engagement Type</p>
            <div class="display-inline-block pull-right">
                <mat-slide-toggle
                    class="toggle-filter"
                    formControlName="EngagementType"
                ></mat-slide-toggle>
            </div>
        </mat-card> -->
        <br />
        <div class="">
            <button
                type="button"
                class="btn btn-primary button-save-pref float-right"
                (click)="close()"
            >
                Apply Filters
            </button>
        </div>
    </form>
</p-sidebar>
