.Card1 {
    border-left: 5px solid #d81b60;
    border-radius: 2px;
    margin-top: 15px;
    height: 35px;
    font-size: 14px;
    padding-top: 7px;
    color: #e65100;
    background-color: #f5f5f5;
}
.button-save-pref {
    height: 30px;
    width: 140px;
    padding-top: 4px;
    font-size: 13px;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
}
.Card2 {
    border-top: 8px solid #4a148c;
}

mat-slide-toggle.toggle-filter {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 14px;
}
span.mat-slide-toggle-content {
    padding-left: 10px;
}
.CardHeader {
    font-weight: bold;
}
.Card3 {
    border-top: 8px solid #e65100;
}
.Card4 {
    border-top: 8px solid #3e2723;
}
span.pi-times {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: #e74c3c;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: white;
    cursor: pointer;
    font-weight: lighter;
    margin-top: 17px;
    margin-right: 14px;
}
.ui-sidebar-right.ui-sidebar-active.filter {
    overflow: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a237e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1a237e;
}
.filterPannelHeader {
    display: block;
    padding: 10px;
    color: #01579b;
    background-color: #ffffff;
    text-decoration: solid;
    margin-left: -10px;
    margin-top: 10px;
}
.mat-slide-toggle-label-before .mat-slide-toggle-bar,
[dir="rtl"] .mat-slide-toggle-bar {
    margin-left: 70px;
    margin-right: 0;
}
.display-inline-block {
    display: inline-block;
}

.filterBtn {
    border-radius: 27px;
    font-size: 13px;
    background-color: #a8b3a8;
    border-color: #a0bfa2;
    margin-right: 2px;
    display: inline;
    float: right;
}
