<div *ngIf="ShowCapacityInsights">
    <!-- ABCD UNBRELLA HOME PAGE BLOCK-->
    <div class="container-fluid">
        <div class="navbar navbar-inverse fixed-top header">
            <div class="navbar-header">
                <img
                    src="../assets/layout/images/logo_1.png"
                    class="img-responsive logo"
                />
                <p class="logo-text">Umbrella</p>
                <sub class="logo-subtext">Innovation Evolution</sub>
                <div *ngIf="showMessage">
                    <p>{{ message }}</p>
                </div>
            </div>
            <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <p class="user-name">Welcome <span>{{name1}}</span></p>
                            <img src="../assets/layout/images/user profile.jpg" class="img-responsive img-user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"/>
                            
                            <ul class="dropdown-menu dropdown-profile">
                                <li><a>Neupa Sinha</a></li>
                                <li><a class="font-size-xs">(Admin)</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" class="check-profile">View Profile</a></li>
                            </ul>
                        </li>
                    </ul> -->
        </div>

        <div class="row margin-top-sm">
            <div class="col-lg-6 col-sm-12 margin-top-sm">
                <div class="p-relative">
                    <img
                        src="../assets/layout/images/promo10.jpg"
                        class="img-responsive img-height-main"
                    />
                    <div class="details-block">
                        <p>
                            ABCD gives you the possibility to explore on NextGen
                            technologies and focus on multidimensional learning
                            path with a 360 vision.
                        </p>
                        <button class="btn button-details">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6  col-sm-12 margin-top-sm img-height">
                        <img
                            src="../assets/layout/images/promo6.jpg"
                            class="img-responsive img-height boxShadow"
                        />
                        <div class="promo-sub-blocks">
                            <p class="font-size-md margin-bottom-null">
                                Capacity Insights
                            </p>
                            <input
                                type="text"
                                [(ngModel)]="midOfUser"
                                placeholder="Enter your MID"
                                class="input-field"
                            />

                            <button
                                class="btn button-details button-pages margin-top-xs-more"
                                (click)="ShowCI()"
                            >
                                Launch
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 margin-top-sm img-height ">
                        <img
                            src="../assets/layout/images/promo7.jpg"
                            class="img-responsive img-height boxShadow"
                        />
                        <div class="promo-sub-blocks">
                            <p class="font-size-md">GM simulator</p>
                            <button
                                (click)="ShowUnderConstruction()"
                                class="btn button-details button-pages"
                            >
                                Launch
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 margin-top-sm img-height">
                        <img
                            src="../assets/layout/images/promo8.jpg"
                            class="img-responsive img-height boxShadow"
                        />
                        <div class="promo-sub-blocks">
                            <p class="font-size-md">Action Tracker</p>
                            <a (click)="ShowUnderConstruction()" target="blank"
                                ><button
                                    class="btn button-details button-pages"
                                >
                                    Launch
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 margin-top-sm img-height">
                        <img
                            src="../assets/layout/images/promo9.jpg"
                            class="img-responsive img-height boxShadow "
                        />
                        <div class="promo-sub-blocks">
                            <p class="font-size-md">Interaction Suite</p>
                            <button
                                (click)="ShowUnderConstruction()"
                                class="btn button-details button-pages"
                            >
                                Launch
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-sm">
            <div class="col-sm-12 margin-top-sm">
                <h2 class="quote">Learn..Grow..Excel</h2>
            </div>
        </div>

        <div class="row margin-top-sm">
            <div class="col-md-3 col-sm-12">
                <div class="promo-div">
                    <div class="promo-img-block">
                        <img
                            src="../assets/layout/images/promo1.jpg"
                            class="mx-auto d-block img-promo"
                        />
                    </div>
                    <div class="promo-block">
                        <h4 class="promo-title">Application Evolution</h4>
                        <p class="promo-text">
                            Maximize benefits from critical applications
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="promo-div">
                    <div class="promo-img-block">
                        <img
                            src="../assets/layout/images/promo2.png"
                            class="mx-auto d-block img-promo"
                        />
                    </div>
                    <div class="promo-block">
                        <h4 class="promo-title">Integrated Services</h4>
                        <p class="promo-text">Re-imagine end-to-end IT</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="promo-div">
                    <div class="promo-img-block">
                        <img
                            src="../assets/layout/images/promo3.png"
                            class="mx-auto d-block img-promo"
                        />
                    </div>
                    <div class="promo-block">
                        <h4 class="promo-title">Growth Optimization</h4>
                        <p class="promo-text">
                            Sound strategy to sustain growth and profitability
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="promo-div">
                    <div class="promo-img-block">
                        <img
                            src="../assets/layout/images/promo4.png"
                            class="mx-auto d-block img-promo"
                        />
                    </div>
                    <div class="promo-block">
                        <h4 class="promo-title">Artificial Inteligence</h4>
                        <p class="promo-text">Re-imagine end-to-end IT</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-sm">
            <div class="col-sm-12 margin-top-sm">
                <footer>
                    <span class="footer-text">&copy; 2018 - ABCD Umbrella</span>
                    <ul class="footer-block">
                        <li>Imprint</li>
                        <li>Legal Disclaimer</li>
                        <li>Privacy Policy</li>
                        <li>Cookies</li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- CAPACITY INSIGHTS BLOCK-->
<div *ngIf="CI">
    <div class="layout-wrapper layout-menu-horizontal">
        <!-- <div class="progressbar">
            <ng2-slim-loading-bar [color]="'#ffbc1c'"></ng2-slim-loading-bar>
    </div>  -->
        <app-topbar></app-topbar>

        <div class="layout-content"><router-outlet></router-outlet></div>
        <app-footer class="margin-top-sm"></app-footer>
    </div>
</div>
<!-- UNDER CONSTUCTION BLOCK-->
<div *ngIf="UnderConstruction">
    <div class="row">
        <div class="col-sm-12">
            <img
                src="../assets/layout/images/Webpage-under-construction.jpeg"
                class="img-fluid img-notauth"
            />
        </div>
    </div>
    <div class="row margin-top-sm">
        <div class="col-sm-12 margin-top-sm">
            <p class="text-center notauth-text">
                The webpage is under construction for the time being. You can
                click on your back button to go back to the home page.
            </p>
        </div>
    </div>
</div>
<p-dialog
    header="Access Denied"
    [(visible)]="displaydialog"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '700px' }"
    [minY]="70"
    [maximizable]="false"
    [baseZIndex]="10000"
>
    <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
            >Please enter a valid MID.</span
        >
    </div>
</p-dialog>

<p-dialog
    header="Access Denied"
    [(visible)]="dialogEnterMID"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '700px' }"
    [minY]="70"
    [maximizable]="false"
    [baseZIndex]="10000"
>
    <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
            >Please enter MID</span
        >
    </div>
</p-dialog>

<p-dialog
    header="Access Denied"
    [(visible)]="dialogValidMID"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '700px' }"
    [minY]="70"
    [maximizable]="false"
    [baseZIndex]="10000"
>
    <div style="margin-top:20px;margin-bottom:20px">
        <span style="font-size: 15px;margin:60px" class="text-modal"
            >This MID does not exist.</span
        >
    </div>
</p-dialog>
