<!-- <mat-toolbar color="primary">
    <span>Capacity Insights</span>
    
    <a style="margin-left:1000px;color: white " routerLink="/CapacityInsights/preference">
        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </a>
    <a  style="color: white " routerLink="/CapacityInsights">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
   </a>
   <a href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <span>AVS
        Campus Mind</span>
        <img alt="main logo" src="assets/layout/images/avatar.png">
    </a>      
  
</mat-toolbar> -->
<div class="topbar">
    <div class="topbar-main">
        <a href="#" id="menu-button" (click)="app.onMenuButtonClick($event)">
            <span class="fa fa-bars "></span>
        </a>

        <a href="/">
            <!-- <img alt="main logo" src="assets/layout/images/logo.png" class="logo"> -->
            <i class="fa fa-angle-right fa-5x logo" aria-hidden="true"></i>
        </a>

        <div class="app-name">CapacityInsights</div>

        <div class="ui-toolbar-group-right">
            <a
                href="#"
                id="user-display"
                (click)="app.onTopbarMenuButtonClick($event)"
            >
                <span class="username">{{ nameOfUserTop }}</span>
                <img
                    class="ProfileImage"
                    src="{{ imgUrlHeader + midOfUserTop + imgUrlTail }}"
                    onError="this.src='../assets/images/ProfilePic.png';"
                />
            </a>
            <a routerLink="/CapacityInsights/filter" id="user-display">
                <i
                    *ngIf="DisplayFunnel"
                    class="fa fa-filter fa-2x float-right filter-icon"
                    aria-hidden="true"
                ></i>
            </a>
            <a routerLink="/CapacityInsights/preference" id="user-display">
                <i
                *ngIf="DisplayFunnel"
                class="fa fa-cogs fa-2x float-right filter-icon"
                aria-hidden="true"
                ></i>
                </a> 
        </div>
        <!-- <a id="user-display">  
         
            <i class="fa fa-search fa-2x float-right filter-icon"></i>
        </a>-->
        <!--<input type="text" pInputText placeholder="Search" />-->

        <ul
            id="topbar-menu"
            class="fadeInDown animated"
            [ngClass]="{ 'topbar-menu-visible': app.topbarMenuActive }"
        >
            <li
                #profile
                [ngClass]="{
                    'menuitem-active': app.activeTopbarItem === profile
                }"
            >
                <p href="#" (click)="test()">
                    <i class="topbar-icon fa fa-fw fa-user"></i>
                    <span class="topbar-item-name">{{ nameOfUserTop }}</span>
                </p>
            </li>
            <li role="menuitem">
                <!-- <p (click)="test()">
                    <i class="topbar-icon fa fa-fw fa-user"></i>
                    <span class="topbar-item-name">{{ roleName }}</span>
                </p> -->
                <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                        <i class="topbar-icon fa fa-fw fa-user"></i>
                        <span class="topbar-item-name">{{ roleName }}</span>
                    </a>
            </li>
        </ul>
    </div>

    <app-menu [reset]="app.resetMenu"></app-menu>
</div>

<p-dialog
header="My Profile"
[(visible)]="dialogValidMID"
[modal]="true"
[responsive]="true"
[width]="700"
[maximizable]="true"
[baseZIndex]="10000"
>
<p-panel>
        <img src="{{ imgUrlHeader + midOfUserTop + imgUrlTail }}"
        onError="this.src='../assets/images/ProfilePic.png';"
         class="mx-auto d-block profile-image-user" />
</p-panel>
<p-panel>
    <div class="row mb-12">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4"><strong>Name</strong></div>
                <div class="col-sm-8">{{ nameOfUserTop }}</div>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="row">
                        <div class="col-sm-4"><strong>MID</strong></div>
                        <div class="col-sm-8">{{ midOfUserTop }}</div>
                                    </div>
               
        </div>
     
    </div>
    <hr/>
    <div class="row mb-12">
            <div class="col-sm-6">
                    <div class="row">
        
                            <div class="col-sm-4"><strong>Competency</strong></div>
                            <div class="col-sm-8">{{ competencyOfUser }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                                <div class="col-sm-4"><strong>Role</strong></div>
                                <div class="col-sm-8">{{ GivenRole }}</div>
                                            </div>
                       
                </div>
    </div>
    <hr/>
    <div class="row mb-12">
            <div class="col-sm-6">
                    <div class="row">
                            <div class="col-sm-4"><strong>Title</strong></div>
                            <div class="col-sm-8">{{ Title }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                                <div class="col-sm-4"><strong>Location</strong></div>
                                <div class="col-sm-8">{{ Location }}</div>
                                            </div>
                       
                </div>
    </div>
    <hr/>
    <div class="row mb-12">
            <div class="col-sm-6">
                    <div class="row">
                            <div class="col-sm-4"><strong>Billable Status</strong></div>
                            <div class="col-sm-8">{{ BillableStatus }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                                <div class="col-sm-4"><strong>Delivery Manager</strong></div>
                                <div class="col-sm-8">{{ DeliveryManager }}</div>
                                            </div>
                       
                </div>
    </div>
    <hr/>
    <div class="row mb-12">
            <div class="col-sm-6">
                    <div class="row">
                            <div class="col-sm-4"><strong>Vertical</strong></div>
                            <div class="col-sm-8">{{ Vertical }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                                <div class="col-sm-4"><strong>Project Name</strong></div>
                                <div class="col-sm-8">{{ ProjectName }}</div>
                        </div>
                    </div>
    </div>
</p-panel>
</p-dialog>