<div class="row">
  <div class="col-sm-12">
    <img src="../assets/layout/images/Webpage-under-construction.jpeg" class="img-fluid img-notauth"/>
  </div>
</div>
<div class="row margin-top-sm">
  <div class="col-sm-12 margin-top-sm">
    <p class="text-center notauth-text">The webpage is under construction for the time being. You can click on your back button to go back to the home page.
    </p>
  </div>
</div>