<div class="row">
    <div class="col-sm-12">
      <img src="../assets/layout/images/network-down.png" class="img-fluid img-notauth"/>
    </div>
  </div>
  <div class="row margin-top-sm">
    <div class="col-sm-12 margin-top-sm">
        <p class=" error">Server is down temporarily!!</p> 
        <p class="text-center notauth-text">Please try again after some time.</p>
    </div>
  </div>