.img-user{
   width: 55px;
   height: 55px;
border-radius: 50%;
cursor: pointer;
padding: 2px 0px;
margin-right: 10px;
   margin-top: 10px;
}
.dropdown-menu > li > a.check-profile{
font-size: 12px;
color:#900c3f;
text-align: center;
font-weight: bold;
}
.app-name{
   color: white;
font-size: 25px;
position: relative;
top: 8px;
}
.quote{
text-align: center;
color: #2e7d32;
font-weight: 600;
}
.promo-div{
    height: 300px;
margin-top: 20px;
color: #2e7d32;
box-shadow: 0px -1px 8px 0px rgba(238,238,238,1);
}
.img-promo{
height: 150px;
margin: 0px auto;
}
.promo-title{
   text-align: center;
font-size: 16px;
font-weight: 600;
   margin-top: 20px;
}
.promo-text{
   text-align: center;
margin-top: 20px;
font-size: 13px;
}
.promo-block{
   height: 130px;
   padding: 20px 5px;
}
.promo-img-block{
background-color: white;
height: 160px;
}
.details-block{
   background: linear-gradient(to bottom,rgba(198,22,200,0.9) 0%,rgba(108,40,136,0.8) 100%);
   color: white;
   font-size: 20px;
   position: absolute;
   padding: 10px;
   top: 42.9%;
   width: 100%;
}
.promo-sub-blocks{
background: linear-gradient(to bottom,#c616c8 0%,#ef6c00 100%);
color: white;
padding: 10px;
   position: relative;
height: 85px;
bottom: 100px;
}
.logo{
  height: 65px;
display: inline-block;
}
.footer-block{
   list-style: none;
float: right;
}
.footer-text{
font-size: 12px;
color: rgba(64,64,64,0.7);
}
.logo-text{
   color: #28B463;
   font-weight: bold;
   font-size: 30px;
   margin-top: 5px;
   display: inline-block;
   position: absolute;
}
.topbar-main{
   height: 45px;
}
sub.logo-subtext{
   left: 18%;
    font-size: 10px;
    color: brown;
    bottom: -1.4em;
}
.user-name{
   display: inline;
    font-size: 13px;
    padding-right: 15px;
    color: #2471A3;
    font-weight: 600;
}
label.mat-checkbox-layout
{
    white-space: normal;
}
.count-table{
   font-size: 15px;
   margin-bottom: 0px;
   padding-top: 20px;
   color: #283593;
   float: left;
    margin-left: -15px;
}
.search-block{
   text-align: right;
   position: relative;
   margin-left: 15px;
   margin-top: 10px;
}
.seacrh-icon{
   position: absolute;
     right: 2%;
    top: 16%;
}
.search-text{
   width: 170px;
   border: 1px solid #212121;
}
.img-excel{
   height: 35px;
   cursor: pointer;
   margin-top: 7px;
   float: right;
}
.count-table{
   font-size: 15px;
   margin-bottom: 0px;
   padding-top: 20px;
   color: #006064;
   float: left;
   margin-right: -15px;
   margin-top: -7px;
} 
.panel-title{
   color: white;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 17px;
}
.img-notauth{
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.notauth-text{
   color: #e65100;
   font-weight: 600;
   font-size: 20px;
}
.text-modal{
   font-size: 13px;
    color: #f57c00;
    font-weight: 600;
}
.progressbar{
 position: absolute;
   margin-top: 2px;
}
.buton-filter{
   float: right;
   margin-right: -25px;
}
.inputMid
{
width: 145px;
    margin-left: 10PX;
    margin-top: -6px;
}
.input-field{ 
    margin-top: 10px;
    font-size: 12px;
}
.filter-loader{
   font-size: 25px;
   margin-left: 10px;
}
.prefrence-check{
   margin-top: 5px;
   margin-left: 10px;
}
.headerStyle
{
   font-size: 14px;
    border-bottom: 2px solid #e65100;
    padding-bottom: 8px;
    font-weight: 600;
}
.loaderStyle{
   text-align: center;
   padding-top: 150px;
}
.profile-image-user{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}