.font-size-xs{
    font-size: 12px;
}
.font-size-xs-sec{
    font-size: 13px;
}
.margin-top-sm{
    margin-top:15px;
}
.p-relative{
    position:relative;
}
.img-height{
    height:175px;
    width: 100%;
   
}
.font-size-md{
    font-size: 20px;
}
.img-height-main{
    height:365px;
    width: 100%;
	box-shadow: 0px -1px 8px 0px rgba(238,238,238,1);
}
.boxShadow
{
	box-shadow: 0px -1px 8px 0px rgba(238,238,238,1);
}
.display-flex-end{
    display: flex;
    justify-content: flex-end
}
.margin-left{
    margin-left: 5px;
}
.margin-top-xs{
    margin-top: 10px;
}
.border-radius-xs{
    border-radius: 2px;
}
.display-flex-start{
    display: flex;
    justify-content: flex-start
}
.margin-left-neg{
    margin-left: -15px;
}
.margin-top-bottom-sm{
    margin-top: 15px;
    margin-bottom: 15px;
}
.width-input{
    width: 100%;
}
.margin-top-neg-xs{
    margin-top: -2px;
}
.margin-bottom-null{
    margin-bottom: 0px;
}
.margin-top-xs-more{
    margin-top: 6px;
}
.margin-left-xs{
    margin-left: 2px;
}
.margin-top-bottom{
    margin-top: 20px;
    margin-left: 20px;
}
@media only screen and (max-width: 600px)
	 {
         .margin-left-mobile{
             margin-left: -15px;
         }
     }