<p-sidebar [(visible)]="display" position="right" (onHide)="close()">
    <div *ngIf="ShowPref">
        <mat-toolbar class="filterPannelHeader">
            <span>Select your filter preference</span>
        </mat-toolbar>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-listbox
                [options]="preferenceDetails"
                (onChange)="Validate()"
                [(ngModel)]="selectedPreference"
                optionLabel="filterName"
                [listStyle]="{ 'max-height': '250px' }"
                class="pref-button"
            ></p-listbox>
            <div class="ui-g-12 ui-md-12 ui-lg-1">
                <p-checkbox
                    [(ngModel)]="MakePrefrenceDefault"
                    binary="true"
                ></p-checkbox>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-11">
                <p class="font14">Make this selection as a defult preference</p>
            </div>
            <button
            class="btn button-fetch float-right border-radius-xs"
            pTooltip="Clear selected preference"
            (click)="FetchAllCapacityData()"
        >
            Clear
        </button>
            <button
                class="btn button-fetch float-right border-radius-xs"
                pTooltip="Update default and fetch data"
                (click)="FetchFilteredCapacityData()"
                [disabled]="isNoPreferenceSet"
            >
                Fetch
            </button>
            <button
                *ngIf="MakePrefrenceDefault"
                pTooltip="Update default preference"
                class="btn button-save float-left border-radius-xs"
                (click)="SaveDefaultPreference()"
                [disabled]="isNoPreferenceSet"
            >
                Save
            </button>
        </div>
        <div>
            <div
                class="display-flex float-left margin-top-bottom"
                *ngIf="hideshowdef"
            >
                <span class="count-table defaultprefClass"
                    ><span class="count-bubblePref" pTooltip="">{{
                        defPrefname.filterName
                    }}</span></span
                ><span style="color: rgb(51, 51, 95);font-size: 14px;" class="">
                    is your default preference.</span
                >
            </div>
        </div>
    </div>

    <div *ngIf="ShowMessage" class="message">
        <div class="alert">
            <strong class="font14">No Saved Preferences Found</strong>
        </div>
    </div>

    <div *ngIf="loading">
        <p-progressSpinner
            [style]="{ width: '50px', height: '50px' }"
            strokeWidth="8"
            fill="#EEEEEE"
            animationDuration=".5s"
        ></p-progressSpinner>
    </div>
</p-sidebar>
<p-dialog header="Alert" [(visible)]="ConfirmationDisplay" (onHide)="close()">
    Your default preference has been changed.
</p-dialog>
<p-dialog
    header="Alert"
    [(visible)]="SavedConfirmationDisplay"
    (onHide)="RefreshPreferences()"
>
    Your default preference has been updated.
</p-dialog>
