.filterPannelHeader {
    display: inline;
    padding: 10px;
    color: #01579b;
    background-color: #ffffff;
    text-decoration: solid;
    margin-left: -10px;

    font-size: 17px;
}
.listBox {
    border-radius: 2px;
    margin-top: 15px;
    height: 35px;
    font-size: 20px;
    background-color: #2980b9;
}

:host >>> .ui-listbox {
    background-color: #2980b9;
    background-image: none;
    border: none;
    color: white;
}

.iconColor {
    color: black;
}

.defaultprefClass {
    margin-top: -20px;
}
.alert {
    padding: 6px;
    background-color: blue;
    color: white;
    text-align: center;
}
.message {
    margin-top: 100px;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
.ui-progress-spinner-svg {
    animation-duration: 0.5s;
    /* margin-right: 84px; */
    position: absolute;
    top: -263px;
    left: -184px;
}
.font14 {
    font-size: 12px;
    margin-top: 5px;
    padding-left: 5px;
}
::ng-deep .pref-button ul *{
    margin: 0;
    padding: 0.5em 1em !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    max-width: 25em;
}
::ng-deep.ui-listbox .ui-listbox-item {
    border-bottom: 5px solid white !important;
}